<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
    <%- include('../partials/header'); %>
    </header>



    <main>
    <div class="jumbotron">
        <div class="grid-container now-playing-grid">
            <h1 class="now-play-grid-item1">Now Playing</h1>
            <audio class="now-play-grid-item2" controls loop preload="none" src="free-sound.mp3"></audio>
        </div>
        <h2>Variable</h2>
        <div class="flexbox-container">
            <%- include('../partials/listener-preferences', {categories: categories});%>
                <div class="flexbox-item">
                    <ul>
                        <% playlist.forEach((song) => { %>
                            <li>
                            <strong><%= song.title %></strong>
                            by <%= song.artist %>,
                            duration <%= song.duration %>
                            </li>
                        <% }); %>
                    </ul>
                </div>          
        </div>
    </div>
    </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

</body>
</html>