<!-- Author: Nicholas Terrazas -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
</head>
<body style="text-align: center;">
    
    <h1>Producer Station</h1>

    <div id="categories">
        <a href="#" class="category-selection">
            <button id="playlist-button" class="button" onclick="showSection('playlist-section')">Choose Playlists</button>
        </a>
        <a href="#" class="category-selection">
            <button id="events-button" class="button" onclick="showSection('events-section')">Choose Events</button>
        </a>
        <a href="#" class="category-selection">
            <button id="dj-button" class="button" onclick="showSection('dj-section')">Choose DJ</button>
        </a>
        <a href="#" class="category-selection">
            <button id="timeslot-button" class="button" onclick="showSection('timeslot-section')">Choose Timeslot</button>
        </a>
    </div>

	<%- include('../partials/playlists', { playlists: playlists }); %>
	<%- include('../partials/events', { events: events }); %>
	<%- include('../partials/djs', { djs: djs }); %>
	<%- include('../partials/timeslots', { timeslots: timeslots }); %>

    <%- include('../partials/latestSelection', { selection: latestSelection }); %>

    <script src="/index.js"></script>

    <script>
        function showSection(sectionId) {
            const sections = document.querySelectorAll(".hidden");
            sections.forEach(section => section.style.display = "none");
            const section = document.getElementById(sectionId);
            section.style.display = "block";
        }
    </script>

</body>
</html>